Up until now we have only inserted documents into our collection. Let's take a look at how we can update and remove them by interacting with an user interface.

## Step 4.1: Add Checkbox

{{{ diffStep 4.1 noTitle=true}}}

## Step 4.2: Add Delete Button

{{{ diffStep 4.2 noTitle=true}}}

## Step 4.3: Add Styling

{{{ diffStep 4.3 noTitle=true}}}
